{% include 'projects_demo/base.html' %}

<!-- Projects List Starts -->
<div class="container col-sm-8 bg-dark rounded mt-5">
    <div class="row d-flex justify-content-center border-bottom border-white border-bottom-dashed border-bottom-3">
        <h2 class="py-5">
            <b>
                <a class="smooth text-decoration-none" style="color: whitesmoke;" href="{% url 'google_maps_scraper_demo_url' %}">Google
                    Maps
                    Scraper Demo</a>
            </b>
        </h2>
    </div>
    <!-- <div class="row d-flex justify-content-center border-bottom border-white border-bottom-dashed border-bottom-3">
            <h2 class="py-5">
                <a class="smooth text-decoration-none" style="color: whitesmoke;"
                    href="{% url 'google_maps_scraper_demo_url' %}">Google Maps
                    Scraper Demo</a>
            </h2>
    </div> -->
</div>